<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink = "/home" routerLinkActive = "active">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink ="/about-us" routerLinkActive ="active">about us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faqs" routerLinkActive = "active">FAQs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>