<div class="container">
    <div class="row">
        <div class="col" *ngFor = 'let product of products'>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{product.productName}}</h5>
                  <p class="card-text">{{product.productDescription}}</p>
                  <p class="card-text">{{product.additionalInfo}}</p>
                  <a  routerLink = '/{{product.productNameURL}}/{{product.id}}' href="#" class="btn btn-primary">Buy now for {{product.price}}</a>
                </div>
              </div>
        </div>
    </div>
</div>